$imageSide: 50px;
$hrColor: #E8E8E8;
$lightText: #696969;
$colorBody: #E7E2DC;
$borderColor: #adadad;
$experienceBorder: #E7E2DC;
$buttonsSize: 36px;
$buttonsBackground: #EBEBEB;
$buttonsFill: #5E5E5E;
$notifyBg: #EDF3F9;
$btnSubBg: #0967C2;
$btnSubBgHover: #397cbe;
$formElementsPadding: 20px;
$deleteText: #5E5E5E;
$deleteBg: #EBEBEB;
$spinnerSize: 100px;
$mdWidth: 576px;
$lgWidth: 768px;
$xlWidth: 1200px;
$xxlWidth: 1440px;
$xxxlWidth: 2560px;


body {
    background-color: $colorBody;
}

.overflow-disabled {
    overflow: hidden;
}

.experience {
    padding: 16px;
    margin: 20px 0;
    background-color: white;
    border-radius: 20px;
    border: 1px solid $experienceBorder;
}

.experience-header {
    margin-bottom: 20px;
}

.icons-flex {

    // gap: 10px;
    button {
        background: transparent;
        border: none;

        div {
            padding: 5px;
            border-radius: 100%;

            &:hover {
                background-color: $buttonsBackground;
            }

            svg {
                padding: 5px;
                width: $buttonsSize;
                height: $buttonsSize;
                fill: $buttonsFill;
            }
        }
    }
}

.experience-date-field {
    div {
        flex: 0 0 calc((100/2)*0.99%);
    }
}

.big-spinner {
    width: $spinnerSize;
    height: $spinnerSize;
}
.big-spinner-container {
    padding: 30px 0 50px 0;
}

.no-experience {
    font-size: 1.3rem;
    text-align: center;
}

// SINGLE EXPERIENCE

.single-experience {
    * {
        margin-bottom: 0;
    }

    gap: 20px;
    border-bottom: 1px solid $hrColor;
    margin-bottom: 30px;

    img {
        width: $imageSide;
        height: $imageSide;
        object-fit: cover;
    }

    .experience-details {
        flex: 1;

        h3 {
            font-size: 1.3rem;
            margin-bottom: 5px;
        }

        p {

            &:nth-child(3),
            &:nth-child(4) {
                color: #696969;
            }

            &:nth-child(4) {
                margin-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 20px;
            }
        }
    }
}

.edit-experience-btn {
    background: transparent;
    border: none;

    div {
        padding: 5px;
        border-radius: 100%;

        &:hover {
            background-color: $buttonsBackground;
        }

        svg {
            padding: 5px;
            width: $buttonsSize;
            height: $buttonsSize;
            fill: $buttonsFill;

        }
    }
}

// MODAL

.add-experience-modal-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    width: 100vw;
    height: 20000vh;
}

.add-experience-modal {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    border: 1px solid $borderColor;
    overflow-y: auto;
    top: 0;
    width: 99.5vw;
    height: 100vh;
    left: 2px;
    @media screen and (min-width: $mdWidth){
        top: 10vh;
        height: 80vh;
    }
    @media screen and (min-width: $lgWidth){
        width: calc($lgWidth/1.3);
        left: 20vw;
    }
    @media screen and (min-width: $xlWidth){
        width: calc($xlWidth/2);
        left: 25vw;
    }
    @media screen and (min-width: $xxlWidth){
        width: calc($xxlWidth/2);
        left: 32vw;
    }
    @media screen and (min-width: $xxxlWidth){
        width: calc($xxxlWidth/3);
        left: 39vw;
    }
}

.close-modal-btn {
    background: none;
    border: none;
    width: 60px;
    height: 50px;

    div {
        padding: 10px;
        border-radius: 100%;

        &:hover {
            background-color: $hrColor;
        }
    }
}

.top-modal {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $hrColor;
    margin-bottom: 10px;
}

.notify-network {
    background-color: $notifyBg;
    padding: $formElementsPadding 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $hrColor;
}

.post-experience-form {
    div {
        input {
            width: 100%;
            margin-bottom: 20px;
        }

        select {
            width: 100%;
            margin-bottom: 8px;
        }
    }
}

.checkbox-field {
    align-items: center;

    p,
    input {
        height: 1rem;
    }
}

.employment-dates {
    justify-content: space-between;

    select {
        flex: 0 0 calc((100/2 * 0.99%));
    }
}

textarea {
    width: 100%;
    &:focus {
        outline: 1px solid $btnSubBgHover;
        border-radius: 2px;
    }
}

.sub-btn-container {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 20px 0 0 0;
    border-top: 1px solid $hrColor;
    margin-top: 10px;
}



.submit-post-experience {
    border-radius: 30px;
    border: none;
    width: 80px;
    height: 40px;
    background-color: $btnSubBg;
    margin-right: $formElementsPadding;
    margin-bottom: $formElementsPadding;

    span {
        font-weight: 700 !important;
        color: white;
    }

    &:hover {
        background-color: $btnSubBgHover;
    }
}

.delete-experience-btn {
    border-radius: 5px;
    background: none;
    border: none;
    padding: 0 10px;
    margin-left: $formElementsPadding;
    margin-bottom: $formElementsPadding;

    &:hover {
        background-color: $deleteBg;
    }

    span {
        color: $deleteText;
        font-weight: 600;
    }

    transition: background-color 100ms ease-in-out;
}



strong {
    color: $btnSubBg;

    &:hover {
        cursor: pointer;
    }
}

select {
    cursor: pointer;
    height: 32px;
}

input {
    height: 32px;
}

.date-input-field {
    .input-field {
        flex: 0 0 calc((100/2)*0.99%) !important;
    }
}

.input-field {
    padding: 0 $formElementsPadding;

    h6,
    p {
        margin-bottom: 8px;
    }

    &:nth-child(2) {
        p {
            margin-bottom: 20px;
        }
    }
    &:nth-child(5) {
        p {
            margin-bottom: 20px;
        }
    }

}

.experience-dates {
    margin-bottom: 30px;
    &:nth-child(1){
        margin-bottom: 0px;
        margin-top: 30px;
    }
}

.notes {
    padding: 0 $formElementsPadding;

    &:nth-child(3) {
        margin-bottom: 20px;
    }
}

.add-experience-header {
    padding: $formElementsPadding;
}

h4 {
    margin-bottom: 0;
    padding-top: calc($formElementsPadding *1.5) !important;
    padding-bottom: calc($formElementsPadding *1.5) !important;
}

