.input-wrapper {
    background-color: #edf3f8;
    width: 100%;
    border-radius: 5px;
    padding: 3px 10px;
    box-shadow: 0px 0px 0px #ddd;
    display: flex;
    align-items: center;
    transition: width 0.4s ease;
    width: 250px;
}

.input-wrapper:focus-within {
    border: 2px solid black;
    width: 350px;
}

.input-wrapper input {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;

}

input:focus {
    outline: none;
}

#search-icon {
    color: black;
}

.navbar {
    padding-bottom: 0px;
}

.navbar-nav:not(:last-child) .nav-link:focus,
.navbar-nav:not(:last-child) .nav-link:focus-within {
    border-bottom: 3px solid black;
}


.dropdown a {
    padding: 0;
}

.dropdown-menu {
    width: 290px;
    top: 170% !important;
    left: -220px !important;

}

.dropdown-menu .dropdown-item {
    padding: 0px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu h5 {
    padding: 0px 12px;
    cursor: initial;
}

.dropdown-menu .dropdown-item:hover {
    text-decoration: underline;
}

.btn-nav {
    height: 25px;
    width: 100%;
    padding: 0px;
    border-radius: 25px;
}

#right-nav .dropdown-menu {
    width: 400px;
    height: calc(100vh - 92px);
    max-height: 100vh;
    border-radius: 15px;
    padding: 20px;
}